{{> header }}
{{> nav }}
  <main>
    <form method=POST class="text-center col-10 m-auto">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Username" required="true">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" placeholder="Password" required="true"e>
      </div>
      <button class="btn btn-success" type="submit">
        Connect
      </button>
    </form>
  </main>
{{> footer }}