<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link rel="stylesheet" href="/assets/css/sidebar.css">
  <title>HousePointsDiscordBot</title>
</head>
<body class="bg-dark text-light">
  <div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar" class="active">
      <div class="sidebar-header">
        <h3>House Points Discord Bot</h3>
      </div>
        <ul class="list-unstyled components">
          <p>Navigation</p>
          <li class="active">
             <a href="/">Index</a>
          </li>
      </ul>
    </nav>
    <!-- Page Content -->
    <div id="content" class="active">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="btn btn-info">
            <i class="fas fa-align-justify"></i>
          </button>
          <div>
             <a href="/" class="btn btn-secondary" title="Index"><i class="fas fa-home"></i></a>
            {{#if isLogged}}
              <a href="/house" class="btn btn-success" title="Manage competition"><i class="fas fa-hat-wizard"></i></a>
              <a href="/user/add" class="btn btn-primary" title="Add user"><i class="fas fa-user-plus"></i></a>
              <a href="/user/params" class="btn btn-info" title="User params"><i class="fas fa-user-cog"></i></a>
              <a href="/disconnect" class="btn btn-danger" title="Disconnect"><i class="fas fa-user-slash"></i></a>
            {{else}}
              <a href="/connect" class="btn btn-success" title="Connect"><i class="fas fa-user"></i></a>
            {{/if}}
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div id="main">
    <div id="score">
      
    </div>
  </div>
    
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <!-- Font Awesome JS -->
  <script defer src="https://use.fontawesome.com/releases/v5.7.0/js/all.js" integrity="sha384-qD/MNBVMm3hVYCbRTSOW130+CWeRIKbpot9/gR1BHkd7sIct4QKhT1hOPd+2hO8K" crossorigin="anonymous"></script>

  <script src="/assets/js/sidebar.js"></script>
</body>
</html>