{{> header }}
{{> nav }}
  <main>
    <p>Hello {{username}} !<p>
    <p>You have been invited to join {{botname}} web interface !</p>
    <p>First of all, I need you to accept this invitation by clicking "Join" !</p>
    <form method="POST" class="text-center">
      <input type="hidden" name="username" value="{{username}}">
      <input type="hidden" name="usertoken" value="{{usertoken}}">
      <button class="btn btn-primary">
        Join
      </button>
    </form>
  </main>
{{> footer }}